{% extends "base.html" %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                <h3>Movie detail</h3>
                <table class="table table-bordered">
                    <tr class="head_text">
                        <td>{{ movie.title }}</td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-bordered">
                                <tr>
                                    <th>Title</th>
                                    <td>{{ movie.title }}</td>
                                </tr>
                                <tr>
                                    <th>Year</th>
                                    <td>{{ movie.year }}</td>
                                </tr>
                                <tr>
                                    <th>IMDB</th>
                                    <td><a href="https://www.imdb.com/title/{{ movie.imdb }}" target="_blank">IMDB</a>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td>{{ movie.type }}</td>
                                </tr>
                                {% if movie.poster and movie.poster != "NULL" %}
                                    <tr>
                                        <th>Poster</th>
                                        <td><a href="{{ movie.poster }}" target="_blank">
                                            <img src="{{ movie.poster }}" style="width: 100px" alt="poster">
                                        </a></td>
                                    </tr>
                                {% endif %}
                            </table>
                            <div style="text-align: right">
                                <a href="{% url "movieapp:movie_list" %}">List of movies</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}